.icon{
    color: rgb(0, 0, 0)
}
.c-container>div{
    flex:1;
}
.c-right{
    width: 100%;
}
.c-left{
    gap: 0rem;
}
.mode{
    width: 16rem;
    padding: 1rem;
    margin: 1rem 1.2rem 1rem 1.2rem;
    box-shadow: 0.1rem 0.1rem 0.1rem #ffa2a2;;
    gap: 1rem;
    transition: all 300ms ease-in;
}
.mode .button{
    width: 100%;
    background:rgb(0, 0, 0);
    color: white;
    box-shadow: 0.2rem 0.2rem 0.2rem 0.2rem 0.2rem #ffa2a2;;
    font-size: 0.9rem;
    font-weight: 600;
}
.mode>:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}
.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}
.mode:hover{
    scale: 1.1;
    
}
.mode .button:hover{
    scale: 0.8;
}
.flexCen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.map {
    padding: 1rem 0rem 0 1rem;
}

@media (max-width: 1024px) {
    .c-container{
        flex-direction: column;
    }
    .contactModes{
        width: 85%;
    }
    .row{
        flex-direction: column;
        width: 100%;  
    }
    .mode{
        width: 100%;
        margin: 0 0rem 0.2rem 4rem;
    }
    .detail span{
        font-size: 80%;
    }
    .mode .button{
        font-size: 70%;
    }
    .flexCen {
        display:grid;
        justify-content: left;
        align-items: left;
    }
    .map{
        padding: 1rem 0rem 0 1rem;
    }
    .map{
        width: 60%;
    }
}