.f-container{
    justify-content: space-between;
}
.f-left{
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.f-left .secondaryText{
    padding: 0;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.f-menu{
    gap: 1rem;
    font-weight: 200;
    color: white;
}
.f-wrapper{
    background-color: rgb(0, 0, 0);
}
@media (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center;
        text-align: center;
    }
    .f-left .secondaryText{
        font-size: 70%;
    }
    .f-menu{
        font-size: 90%;
        gap: 1rem;
        padding-bottom: 1.3rem;
    }
    #list{
        padding: 0;
    }
}