.f-container{
    justify-content: space-between;
}
.f-left{
    gap: 1rem;
    padding-bottom: 0.5rem;
}
.f-left .secondaryText{
    padding: 0;
    color: white;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.f-menu{
    gap: 2rem;
    font-weight: 500;
    color: white;
}
.f-wrapper{
    background-color: black;
}
@media (max-width: 768px) {
    .f-container{
        justify-content: center;
    }
    .f-container>div{
        align-items: center;
        text-align: center;
    }
    .f-left .secondaryText{
        font-size: 70%;
    }
    .f-menu{
        font-size: 80%;
    }
}